<!DOCTYPE html>
<html ng-app="app">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>crewtrip</title>

      <!-- FAVICON -->
      <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
      <link rel="manifest" href="site.webmanifest">
      <!-- FAVICON END -->

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

      <!-- some things in stylesheet override bootstrap -->
      <link rel="stylesheet" href="resources/style.css">

      <!-- angular & angular sliders -->
      <link rel="stylesheet" type="text/css" href="/rzslider.css"/>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
      <script src="./rzslider.min.js"></script>

      <!-- For date picker -->
      <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
      <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
      <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    </head>
    <body class="bg">

      <!-- Navigation bar -->
      <nav class="navbar navbar-fixed-top bg-transparent shadow-sm">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="./"><img src="logo-dark.png" alt="crewtrip logotype" width="100"></a>
          </div>
        </div>
      </nav>
      <!-- <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
      </div> -->
      <!-- End navbar  -->

      <div class="container">

        <!-- BEGIN FORM CARD -->
      <div class="card w-75 mb-3 mt-5 shadow-sm">
        <div class="card-body">
          <h1>Preferences</h1><br>
          <div ng-controller="activityCtrl">
            <div ng-controller="ctrl">
          <form action="results?id={{id}}" ng-submit="submitActivities()" method="post" target="_self" id="resultform" >
          </div>

              <div ng-controller= "travelCtrl" class="w-50">
                <label for="customRange1">Travel Distance (mi):</label></br>
                <rzslider class="custom-slider" rz-slider-model="slider.value" rz-slider-options="slider.options"></rzslider>
                <input name="distance" type="hidden" value="{{slider.value}}">
              </div>

              <div ng-controller="budgetCtrl" class="w-50">
                <label for="customRange1">Budget: </label></br>
                <rzslider  class="custom-slider" style="font-size: 11px" rz-slider-model ="slider.minValue" rz-slider-high="slider.maxValue" rz-slider-options="slider.options"></rzslider>
                <input type="hidden" name="budgetLow" value="{{slider.minValue}}"><input type="hidden" name="budgetHigh" value="{{slider.maxValue}}">
              </div><br>
              


              
              <br><h1>Activities</h1>
                <!-- Current List -->
                <div ng-repeat="activity in activities" class="form-check">
                  <label class="form-check-label">
                  <input type="checkbox" name="selected[]" value="{{activity.name}}"class="form-check-input" ng-model="activity.selected"> 
                    {{activity.name}}
                  </label>
                </div>
                </br>
                <!-- Adding Checkboxes -->
                <div class="form-inline">
                  <input id="checkboxName" type="text" class="form-control mr-sm-3 mb-2" placeholder="Activity Name" ng-model="newActivity">
                  <button id="submitActivity" type="button" class="btn btn-success mb-2" ng-click="addActivity()">Add To List</button>
                </div> 
              </div>
              </br>



              <h1>Availability</h1>
              <input class="form-control w-50" type="text" name="daterange" value="01/01/2019 - 01/15/2019" />


            <!-- BUTTONS -->
            <a href="start.html"><button type="button" class="btn btn-warning mt-4"> <img src="arrow.png" class="b" width="6"/></button></a>
          </form>
          <button type="submit" form="resultform" ng-click="submitActivities()" class="btn btn-primary mt-4">FINISH <img src="arrow.png" class="a" width="6"/></button>
        </div>
      </div>
      <!-- END FORM CARD  -->
      <br>

      <script src="./client_socket.io.js"></script>
      <script src="/client.js"></script>
      <script src="/script.js"></script>
      <script>
      $(function() {
        $('input[name="daterange"]').daterangepicker({
          opens: 'left'
        }, function(start, end, label) {
          console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        });
      });
      $(document).ready(function() {
        var input = document.getElementById("checkBox");

        $(window).keydown(function(event){
          if(event.keyCode == 13) {
            event.preventDefault();
            document.getElementById("submitActivity").click();
          }
        });
      });
      </script>
    </body>
</html>
