 #top {
   width:110%;
   background-color: blue;

 }

 .jumbotron {
   background-color: #FA8A00;
 }

 img.a {
   vertical-align: baseline;
 }

 img.b {
   vertical-align: baseline;
   transform: rotate(180deg);
 }


 .orange {
  background-color: #FA8A00;
 }

h1 {
  margin-top: 20px;
}
