 #top {
   width:110%;
   background-color: blue;

 }

 .bg {
   background-image: url("bg1.png");
   background-position: center;
   background-size:cover;
   background-repeat:no-repeat;
 }
 .card {
  background-color: rgba(255, 255, 255, 0.9) !important;
 }

 body.gradient {
    background: white; /* fallback color */
    background: linear-gradient( to bottom, #fe5d53, #fe750c, #fec153);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
 }

 /* .jumbotron {
   background-color: #FA8A00;
 } */

 .jumbotron {
 background: url(bg.jpg) fixed center no-repeat;
 background-size: cover;
 min-height: 300px;
}

 img.a {
   vertical-align: baseline;
 }

 img.b {
   vertical-align: baseline;
   transform: rotate(180deg);
 }

h1 {
  margin-top: 20px;
  color: #ed193e;
  font-size: 26px;
  font-weight: normal;
}

p {
  font-size: 14px;
}

/* setting width of container */
.w {
  width: 60%;
}

.bg-transparent {
    background-color: #fff!important;
}

.navbar {
  width: 100% !important;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

.progress-bar {
  height: 8px;
  background: #4caf50;
  width: 0%;
}



/* BUTTON COLORS */

.btn-info {
    color: #fff;
    background-color: #ed193e;
    border-color: #ed193e;
}

.btn-warning {
    color: #fff;
    background-color: #777777;
    border-color: #777777;
}

.btn-warning:hover, .btn-warning:active:focus, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open>.dropdown-toggle.btn-warning {
    color: #fff !important;
    background-color: #565656 !important;
    border-color: #565656 !important;
}


.btn-info:hover, .btn-info:active:focus, .btn-info:focus, .btn-info:active, .btn-info.active, .open>.dropdown-toggle.btn-info {
    color: #ed193e !important;
    background-color: #fff !important;
    border-color: #ed193e !important;
}

.custom-slider.rzslider .rz-bar {
  background: #ffe4d1;
  height: 2px;
}
.custom-slider.rzslider .rz-selection {
  background: orange;
}

.custom-slider.rzslider .rz-pointer {
  width: 8px;
  height: 16px;
  top: auto; /* to remove the default positioning */
  bottom: 0;
  background-color: #333;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.custom-slider.rzslider .rz-pointer:after {
  display: none;
}

.custom-slider.rzslider .rz-bubble {
  bottom: 14px;
}

.custom-slider.rzslider .rz-limit {
  font-weight: bold;
  color: orange;
}

.custom-slider.rzslider .rz-tick {
  width: 1px;
  height: 10px;
  margin-left: 4px;
  border-radius: 0;
  background: #ffe4d1;
  top: -1px;
}

.custom-slider.rzslider .rz-tick.rz-selected {
  background: orange;
}


/* END BUTTON COLORS */
